.App {
  text-align: center;
  background-color: #5c5c70;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bor3 {



font-size: 15px;    
float:left;
color: white;
background-color: #333333;
border: inset;
border-width: 0.01;

} 


.dropdown-menu {
  height: 350px;
  overflow-y: scroll;
}
