@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
body{
  font-family: 'Righteous', cursive;
  
}

p {
  margin-top: 0;
  margin-bottom: .0;
}

.App {
  text-align: center;
    color: #0eba0b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

u {
  font-size: calc(7px + 2vmin);
}

.App-header {
  /*background-color: #ffff;*/
  /* min-height: 80vh; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(4px + 2vmin);
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}

.bor3 {
  
float:left;
color: #0eba0b;
background-color: #eaebed;
/*
border: inset;
border-width: 0.01;
*/
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
margin-bottom: 20px;
margin-top: 15px;
} 


.dropdown-menu {
  height: 350px;
  overflow-y: scroll;
}

.container {
  margin: 0 3px;

}

.mapborder{
 
    margin-left: 10px;
    margin-right: 10px;
}


.particles {
  background-color: #ffffff;
    position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.descrip {
  font-size: calc(4px + 2vmin);
  text-align: justify;
  color: gray;
  margin-bottom: 15px
}

/* @media screen and (max-width: 800px) {
  .App-header {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }
} */

.AboutText {
  width: 720px;
  margin: 20px;
}

.image-bor {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}

.authorsText {
  color: #f44141;
  width: 720px;
  margin: 20px;
}
